@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
:root{
    --primary-color:#6D28D9;
    --dark-gray: #6B7280;
    --light-gray: #E5E7EB;
}

body{
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
}

/** container **/

.container{
    padding: 0rem 1rem;
}

hr{
    margin: 2rem 0rem;;
}
    

.center-container{
    max-width: 600px;
    margin: auto;
}

/** links **/
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.link-primary{
    background-color: var(--primary-color);
    color: white;
}

.link-secondary{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

/** lists **/

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 1rem;
}

/** nav **/

.navigation{
    background-color: var(--primary-color);
    color: white;
   padding: 1rem;
   border-bottom-left-radius: 1rem;
}

.navigation .iambrand{
    font-weight: bold;
    font-size: 1.5rem;
}


.navigation .nav-pills{
    text-align: right;
}

.navigation .link-active{
    font-weight: bold;
}

.navigation .link{
    color: white;
    text-align: right;
}


/** header **/

.header{
    padding: 2rem;
}

.header .header-image{
    max-width: 350px;
    margin: auto;
    display: block;
}

.header .header-heading{
    padding-top: 1rem;
    text-align: center;
    color: var(--dark-gray);
}

.header .header-heading .color{
    color: var(--primary-color);
}

.section{
    padding: 2rem;
    text-align: center;
}

.section h1{
    text-align: center;
    padding: 1rem;
}
    
.ow{
    background-color: var(--light-gray);
}