@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap');

:root{
    --primary-color:#6D28D9;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

/** container **/

.container{
    padding: 0rem 1rem;
}
    

.center-container{
    max-width: 600px;
    margin: auto;
}

/** links **/
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}
